.vscode
code
docker-compose-ollama.yml
fastapi-task-app/venv/
vue-task-app/node_modules/
wallapop
# Ignore Python cache files and directories
__pycache__/
*.pyc
*.pyo
*.pyd
# Coverage files
fastapi-task-app/.coverage
fastapi-task-app/coverage.svg
fastapi-task-app/coverage.xml